.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5a6ddb;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar h1 {
    color: #fff;
}
.navbar img {
    width: 50px;
}

.navbar button {
    margin-left: 8px;
    height: 32px;
    width: 100px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    border-radius: 14px;
    border: none;
}

.navbar button:hover {
    background-color: #39499b;
}