.container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 80px;
    justify-content: center;
    width: 100%;
}

.cont-left {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-left img {
    margin-top: 20px;
    max-width: 300px;
}

.cont-right {
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

.cont-right h3 {
    margin: 8px 0px;
}
